// @import "../layout/content-sidebar";
// @import "../layout/sidebar-content";

/*--------------------------------------------------------------
## Header and footer
--------------------------------------------------------------*/
@import "primary/header-and-footer";

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
@import "primary/posts-and-pages";

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
@import "primary/comments";

/*--------------------------------------------------------------
## Wigits
--------------------------------------------------------------*/
@import "primary/wigits";

body {
  font-family: $font-family-body;
  * {
    letter-spacing: 0.01em;
  }

}
h1:not(.site-title), h2, h3, h4, h5, h6, .site-footer, .tags-links, .edit-link {
  font-family: $font-family-heading;
}


@media print{
  .site-navigation, .widget-area, .post-navigation, .comments-area, .site-footer {
    display: none !important;
  }
  p, span, li {
    font-size: 24px;
    line-height: 42px;
  }
  img {
    width: auto !important;
    height: auto !important;
    max-width: 50vw !important;
    // max-height: 30vw !important;
    display: block !important;
    margin: auto !important;
  }
}