.nav-header, .nav-footer {
	color: inherit;

	ul {
		list-style: none;
		padding-left: 0;
		width: fit-content;
    margin: auto;

		ul {
			// float: left;
			position: absolute;
			z-index: 99999;
			background: $color_header_background;
			border-left: 8px solid white;
			border-right: 8px solid white;
      margin-left: -8px;
      margin-right: -8px;
			left: -999em;
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		display: inline-block;
		& + li {
			margin-left: 16px;
		}
	}

	a {
		display: block;
		text-decoration: none;
		&:active, &:hover, &:link, &:visited {
      color: inherit;
      outline: 0;
    }
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
